1. Luke, I Am Your ...
Luke Skywalker has family and friends. Help him remind them who is who. Given a string with a name, return the relation of that person to Luke.

Person	Relation
Darth Vader	father
Leia	sister
Han	brother in law
R2D2	droid
Examples
relation_to_luke("Darth Vader") ➞ "Luke, I am your father."

relation_to_luke("Leia") ➞ "Luke, I am your sister."

relation_to_luke("Han") ➞ "Luke, I am your brother in law."
Notes
N/A

In [5]:
def relation_to_luke(name):
    if name== "Darth Vader":
        return "luke,I am your father."
    elif name== "Leia":
        return "Luke, I am your sister."
    elif name=="Han":
        return "Luke, I am your brother in law."
    elif name=="R2D2":
        return "Luke, I am your droid."
    else:
        return "Not your Relate"

In [2]:
relation_to_luke("Darth Vader")

'luke,I am your father.'

In [4]:
relation_to_luke("Leia")

'Luke, I am your sister.'

In [7]:
relation_to_luke("arth")

'Not your Relate'

2. Calculating Damage
Create a function that takes damage and speed (attacks per second) and returns the amount of damage after a given time.

Examples
damage(40, 5, "second") ➞ 200

damage(100, 1, "minute") ➞ 6000

damage(2, 100, "hour") ➞ 720000
Notes
Return "invalid" if damage or speed is negative.

In [3]:
def damage(damage,speed,time):
    d=damage*speed
    if damage<0 or speed<0:
        return "invalid"
    elif time=="second":
        return d
    elif time=="minute":
        return d*60
    elif time=="hour":
        return d*3600
    else:
        return

In [4]:
damage(40,5,"second")

200

In [6]:
damage(100, 1, "minute")

6000

In [7]:
damage(100, -1, "minute")

'invalid'

3.Same Parity?
Create a function that takes a number as input and returns True if the sum of its digits has the same parity as the entire number. Otherwise, return False.

Examples
parity_analysis(243) ➞ True
#243 is odd and so is 9 (2 + 4 + 3)

parity_analysis(12) ➞ False
#12 is even but 3 is odd (1 + 2)

parity_analysis(3) ➞ True
#3 is odd and 3 is odd and 3 is odd (3)
Notes
Parity is whether a number is even or odd. If the sum of the digits is even and the number itself is even, return True. The same goes if the number is odd and so is the sum of its digits.
Single digits will obviously have the same parities (see example #3).

In [4]:
def adding(num):
    ans=0 
    while num>0:
        r=num%10
        ans=ans+r
        num=num//10
    #return ans
    if num%2==0 and ans%2==0:
        return True
    elif num%2==0 and ans%2==0:
        return True
    else:
        return False

In [5]:
adding(123)

True

In [7]:
adding(12)

False

4.Xs and Os, Nobody Knows
Create a function that takes a string, checks if it has the same number of "x"s and "o"s and returns either True or False.

Return a boolean value (True or False).
Return True if the amount of x's and o's are the same.
Return False if they aren't the same amount.
The string can contain any character.
When "x" and "o" are not in the string, return True.
Examples
XO("ooxx") ➞ True

XO("xooxx") ➞ False

XO("ooxXm") ➞ True
#Case insensitive.

XO("zpzpzpp") ➞ True
#Returns True if no x and o.

XO("zzoo") ➞ False
Notes
Remember to return True if there aren't any x's or o's.
Must be case insensitive.

In [8]:
def XO(string):
    x_count=0
    o_count=0
    for char in string:
        if char.lower()=="x":
            x_count+=1
        elif char.lower()=="o":
            o_count+=1
    return x_count==o_count

In [10]:
XO("xoxx")

False

In [11]:
XO("ooxXm")

True

In [12]:
XO("zpzpzpp")

True

5.Flip the Boolean
Create a function that reverses a boolean value and returns the string "boolean expected" if another variable type is given.

Examples
reverse(True) ➞ False

reverse(False) ➞ True

reverse(0) ➞ "boolean expected"

reverse(None) ➞ "boolean expected"
Notes
Don't forget to return the result.
If you get stuck on a challenge, find help in the Resources tab.
If you're really stuck, unlock solutions in the Solutions tab.

In [13]:
def reverse(boolean):
    if type(boolean) is not bool:
        return "boolean expected"
    return not boolean

In [14]:
reverse(True)

False

In [15]:
reverse(False)

True

In [16]:
reverse(0)

'boolean expected'

6.Even Number Generator
Using list comprehensions, create a function that finds all even numbers from 1 to the given number.

Examples
find_even_nums(8) ➞ [2, 4, 6, 8]

find_even_nums(4) ➞ [2, 4]

find_even_nums(2) ➞ [2]
Try to use list comprehensions in your solution. Here's an example:

vals = [expression 
  for value in collection 
    if condition]
This is equivalent to:

vals = []
for value in collection:
  if condition:
    vals.append(expression)
Notes
Try to use list comprehensions instead of logic.
If there are no even numbers, return an empty list.

In [19]:
def even_numbers(n):
    return [i for i in range(1,n+1) if i%2==0]

In [20]:
even_numbers(5)

[2, 4]

In [21]:
even_numbers(8)

[2, 4, 6, 8]

7.Filter Strings from Array
Create a function that takes a list of strings and integers, and filters out the list so that it returns a list of integers only.

Examples
filter_list([1, 2, 3, "a", "b", 4]) ➞ [1, 2, 3, 4]

filter_list(["A", 0, "Edabit", 1729, "Python", "1729"]) ➞ [0, 1729]

filter_list(["Nothing", "here"]) ➞ []
Notes
Don't overthink this one.

In [22]:
def filter_list(l):
    new_list=[]
    for x in l:
        if type(x)==int:
            new_list.append(x)
    return new_list

In [23]:
filter_list([1, 2, 3, "a", "b", 4])

[1, 2, 3, 4]

In [24]:
filter_list(["A", 0, "Edabit", 1729, "Python", "1729"])

[0, 1729]

In [25]:
filter_list(["Nothing", "here"])

[]

8.Stand in Line
Write a function that takes a list and a number as arguments. Add the number to the end of the list, then remove the first element of the list. The function should then return the updated list.

Examples
next_in_line([5, 6, 7, 8, 9], 1) ➞ [6, 7, 8, 9, 1]

next_in_line([7, 6, 3, 23, 17], 10) ➞ [6, 3, 23, 17, 10]

next_in_line([1, 10, 20, 42 ], 6) ➞ [10, 20, 42, 6]

next_in_line([], 6) ➞ "No list has been selected"
Notes
For an empty list input, return: "No list has been selected"

In [31]:
def next_in_line(lst,number):
    lst.append(number)
    lst.pop(0)
    if lst==[]:
        return "no list has been selected"
    return lst

In [32]:
next_in_line([5, 6, 7, 8, 9], 1)

[6, 7, 8, 9, 1]

In [33]:
next_in_line([7, 6, 3, 23, 17], 10)

[6, 3, 23, 17, 10]

In [34]:
next_in_line([], 6)

'no list has been selected'

9.Card Counting (BlackJack)
In BlackJack, cards are counted with -1, 0, 1 values:

2, 3, 4, 5, 6 are counted as +1
7, 8, 9 are counted as 0
10, J, Q, K, A are counted as -1
Create a function that counts the number and returns it from the list of cards provided.

Examples
count([5, 9, 10, 3, "J", "A", 4, 8, 5]) ➞ 1

count(["A", "A", "K", "Q", "Q", "J"]) ➞ -6

count(["A", 5, 5, 2, 6, 2, 3, 8, 9, 7]) ➞ 5
Notes
String inputs will always be upper case.
You do not need to consider case sensitivity.
If the argument is empty, return 0.
No input other than: 2, 3, 4, 5, 6, 7, 8, 9, 10, "J", "Q", "K", "A".

In [50]:
def count_cards(cards):
    count=0
    for card in cards:
        if card in [2,3,4,5,6]:
            count+=1
        elif card in [10,"J","Q","K","A"]:
            count-=1
        #elif card in [7,8,9]:
            #count=0
    return count

In [51]:
count_cards([2, 9, 10, 3, "J", "A", 4, 8, 5])

1

In [52]:
count_cards(["A", "A", "K", "Q", "Q", "J"])

-6

In [53]:
count_cards(["A", 5, 5, 2, 6, 2, 3, 8, 9, 7])

5

10.Western Showdown
Wild Roger is participating in a Western Showdown, meaning he has to draw (pull out and shoot) his gun faster than his opponent in a gun standoff.

Given two strings,p1 and p2, return which person drew their gun the fastest. If both are drawn at the same time, return "tie".

Examples
showdown(
  "   Bang!        ",
  "        Bang!   "
) ➞ "p1"

#p1 draws his gun sooner than p2

showdown(
  "               Bang! ",
  "             Bang!   "
) ➞ "p2"

showdown(
  "     Bang!   ",
  "     Bang!   "
) ➞ "tie"
Notes
Both strings are the same length.

In [45]:
def showdown(p1,p2):
    if p1.index("B")<p2.index("B"):
        return "p1"
    elif p1.index("B")>p2.index("B"):
        return "p2"
    else:
        return 'tie'

In [46]:
showdown( " Bang! ", " Bang! " )

'tie'

In [48]:
showdown("  Bang!","Bang!")

'p2'

In [49]:
showdown("  Bang!","     Bang!")

'p1'

11.Is the Number Symmetrical?
Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.

Examples
is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True
Notes
N/A

In [54]:
def is_symmetrical(num):
    return str(num)==str(num)[::-1]

In [55]:
is_symmetrical(7227)

True

In [56]:
is_symmetrical(12567)

False

12.Minimal VI: Ternary Operator
Check the principles of minimalist code in the intro to the first challenge.

In the Code tab you will find a code that is missing a single character in order to pass the tests. However, your goal is to submit a function as minimalist as possible. Use the tips in the tips section below.

Write a function that returns the strings:

"both" if both given booleans a and b are True.
"first" if only a is True.
"second" if only b is True .
"neither" if both a and b are False.
Tips
If-else statements can be written as a oneliner using Python's ternary operator.

For example, the code:def startswith(name):
  if name[0] in "AEIOU":
    return "vowel"
  else:
    return "consonant"
Can be simplified to:

def startswith(name):
  return "vowel" if name[0] in "AEIOU" else "consonant"
Bonus
You can concatenate as many ternary operators as you want. However, concatenating too many will definitely diminish the readability of your code.

"majority" if  x > 50 else "minority" if x < 50 else "draw"
Notes
This is an open series: there isn't a definite list of features for the challenges. Please, do not hesitate to leave your suggestions in the Comments.
Readability is indeed a subjective concept. Let's discuss it! Feel free to leave your opinion in the Comments.
You can find all the exercises in this series over here.

In [57]:
def are_true(a,b):
    return 'both' if a and b else "first" if a else "second" if b else "neither"

In [58]:
are_true(True,True)

'both'

In [59]:
are_true(False,True)

'second'

In [62]:
are_true(False,False)

'neither'

13.Hot Pics of Danny DeVito!
I'm trying to watch some lectures to study for my next exam but I keep getting distracted by meme compilations, vine compilations, anime, and more on my favorite video platform.

Your job is to help me create a function that takes a string and checks to see if it contains the following words or phrases:

"anime"
"meme"
"vines"
"roasts"
"Danny DeVito"
If it does, return "NO!". Otherwise, return "Safe watching!".

Examples
prevent_distractions("vines that butter my eggroll") ➞ "NO!"

prevent_distractions("Hot pictures of Danny DeVito") ➞ "NO!"

prevent_distractions("How to ace BC Calculus in 5 Easy Steps") ➞ "Safe watching!"
Notes
N/A

In [63]:
def prevent_distractions(txt):
    return "NO!" if "annime" in txt or "meme" in txt or "vines" in txt or "roasts" in txt or "Danny DeVito" in txt else "Safe Watching"

In [64]:
prevent_distractions("vines that butter my eggroll")

'NO!'

In [65]:
prevent_distractions("How to ace BC Calculus in 5 Easy Steps")

'Safe Watching'

14.Equality of 3 Values
Create a function that takes three integer arguments (a, b, c) and returns the amount of integers which are of equal value.

Examples
equal(3, 4, 3) ➞ 2

equal(1, 1, 1) ➞ 3

equal(3, 4, 1) ➞ 0 
Notes
Your function must return 0, 2 or 3.

In [66]:
def equal(a,b,c):
    return 3 if a==b==c else 2 if a==b or b==c or c==a else 0

In [67]:
equal(3, 4, 3)

2

In [68]:
equal(1, 1, 1)

3

15.Vowel Sandwich
Create a function which validates whether a 3 character string is a vowel sandwich. In order to have a valid sandwich, the string must satisfy the following rules:

The first and last characters must be a consonant.
The character in the middle must be a vowel.
Examples
is_vowel_sandwich("cat") ➞ True

is_vowel_sandwich("ear") ➞ False

is_vowel_sandwich("bake") ➞ False

is_vowel_sandwich("try") ➞ False
Notes
Return False if the word is not 3 characters in length.
All words will be given in lowercase.
y is not considered a vowel.

In [72]:
def is_vowel_sandwich(txt):
    vowels="aeiou"
    return len(txt)==3 and txt[0] not in vowels and txt[1] in vowels and txt[2] not in vowels

In [73]:
is_vowel_sandwich("ear")

False

In [74]:
is_vowel_sandwich("cat")

True

In [75]:
is_vowel_sandwich("bake")

False

16.Split a String Based on Vowels and Consonants
Write a function that takes a string, breaks it up and returns it with vowels first, consonants second. For any character that's not a vowel (like special characters or spaces), treat them like consonants.

Examples
split("abcde") ➞ "aebcd"

split("Hello!") ➞ "eoHll!"

split("What's the time?") ➞ "aeieWht's th tm?"
Notes
Vowels are a, e, i, o, u.
Define a separate is_vowel() function for easier to read code (recommendation).

In [77]:
def vowel_consonant_sort(txt):
    vowels=""
    consonants=""
    for char in txt:
        if char.lower() in "aeiou":
            vowels+=char
        elif char.isalpha():
            consonants+=char
    return vowels+consonants

In [78]:
vowel_consonant_sort("abcde")

'aebcd'

In [79]:
vowel_consonant_sort("Hello")

'eoHll'

17.Count the Letters and Digits
Write a function that takes a string and calculates the number of letters and digits within it. Return the result in a dictionary.

Examples
count_all("Hello World") ➞ { "LETTERS":  10, "DIGITS": 0 }

count_all("H3ll0 Wor1d") ➞ { "LETTERS":  7, "DIGITS": 3 }

count_all("149990") ➞ { "LETTERS": 0, "DIGITS": 6 }
Notes
Tests contain only alphanumeric characters.
Spaces are not letters.
All tests contain valid strings.

In [82]:
def count_letters_digits(txt):
    count={"letters":0,"digits":0}
    for char in txt:
        if char.isalpha():
            count["letters"]+=1
        elif char.isdigit():
            count["digits"]+=1
    return count

count_letters_digits("hello world")

In [84]:
count_letters_digits("H3ll0 Wor1d")

{'letters': 7, 'digits': 3}

18.Sum of Number Elements in a List
Lists can be mixed with various types. Your task for this challenge is to sum all the number elements in the given list. Create a function that takes a list and returns the sum of all numbers in the list.

Examples
numbers_sum([1, 2, "13", "4", "645"]) ➞ 3

numbers_sum([True, False, "123", "75"]) ➞ 0

numbers_sum([1, 2, 3, 4, 5, True]) ➞ 15
Notes
Check the Resources tab for help.

In [85]:
def sum_numbers(lst):
    total=0
    for item in lst:
        if type(item)==int or type(item)==float:
            total+=item
    return total

In [86]:
sum_numbers([1, 2, "13", "4", "645"])

3

In [87]:
sum_numbers([1, 2, 3, 4, 5, True])

15

19.Older Than Me
Create a method in the Person class which returns how another person's age compares. Given the objects p1, p2 and p3, which will be initialised with the attributes name and age, return a sentence in the following format:

{other_person} is {older than / younger than / the same age as} me.

Examples
p1 = Person("Samuel", 24)
p2 = Person("Joel", 36)
p3 = Person("Lily", 24)
p1.compare_age(p2) ➞ "Joel is older than me."

p2.compare_age(p1) ➞ "Samuel is younger than me."

p1.compare_age(p3) ➞ "Lily is the same age as me."
Notes
Check out the Resources tab for some helpful tutorials on Python classes!
If you're really stuck, check out the Solutions tab for answers.

In [102]:
class person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def compare_age(self,other_person):
        if self.age<other_person.age:
            comparison="younger than"
        elif self.age>other_person.age:
            comparison="older than"
        else:
            comparison="the same age as"
        return f"{other_person.name} is {comparison} me"

In [103]:
p1 = person("Samuel", 24)
p2 = person("Joel", 36)
p3 = person("Lily", 24)

print(p1.compare_age(p2))
print(p2.compare_age(p1))
print(p1.compare_age(p3))

Joel is younger than me
Samuel is older than me
Lily is the same age as me

20.Minimal V: Membership Operator
Check the principles of minimalist code in the intro to the first challenge.

In the Code tab you will find a code that is missing a single character in order to pass the tests. However, your goal is to submit a function as minimalist as possible. Use the tips in the tips section below.

Write a function that returns the boolean True if the given two lists do not share any numbers, and False otherwise.

Tips
The operators in and not in test for membership. x in s evaluates to True if x is a member of s, and False otherwise.

For example, the code:

def startswithvowel(word):
    for vowel in "aeiou":
        if word[0] == vowel:
            return True
    return False
Can be simplified to:

def startswithvowel(word):
    return word[0] in "aeiou"
Bonus
Here are more examples:

12 in [1, 50, 12, 43, 7] ➞ True
1 in [12, 111111, "x"] ➞ False
[3, 4] in [1, 2, 3, 4, 5] ➞ False
3 in (True, 3, ["odd", "even"]) ➞ True
"odd" in (True, 3, ["odd", "even"]) ➞ False
"hello" in "hellomyfriend" ➞ True

"myfriend" not in "hello my friend" ➞ True
"bye" not in "bye my friend" ➞ False
2 not in {0: "even", 1: "odd"} ➞ True
1 not in {0: "even", 1: "odd"} ➞ False
Notes
This is an open series: there isn't a definite list of features for the challenges. Please, do not hesitate to leave your suggestions in the Comments.
Readability is indeed a subjective concept. Let's discuss it! Feel free to leave your opinion in the Comments.
You can find all the exercises in this series over here.

In [104]:
def no_shared_numbers(list1,list2):
    return not any(number in list1 for number in list2)

In [105]:
no_shared_numbers([1, 2, 3], [4, 5, 6])

True

In [106]:
no_shared_numbers([1,2,3,5,6,7], [4,5,6,8,7,9])

False

21.H4ck3r Sp34k
Create a function that takes a string as an argument and returns a coded (h4ck3r 5p34k) version of the string.

Examples
hacker_speak("javascript is cool") ➞ "j4v45cr1pt 15 c00l"

hacker_speak("programming is fun") ➞ "pr0gr4mm1ng 15 fun"

hacker_speak("become a coder") ➞ "b3c0m3 4 c0d3r"
Notes
In order to work properly, the function should replace all "a"s with 4, "e"s with 3, "i"s with 1, "o"s with 0, and "s"s with 5.

In [117]:
def hacker_speak(string):
    hacker_speak_dict={"a":"4","e":"3","i":"1","o":"0","s":"5"}
    hacker_string=""
    
    for char in string:
        if char.lower() in hacker_speak_dict:
            hacker_string+= hacker_speak_dict[char.lower()]
        else:
            hacker_string+=char
    return hacker_string

In [118]:
hacker_speak("javascript is cool")

'j4v45cr1pt 15 c00l'

In [119]:
hacker_speak("programming is fun")

'pr0gr4mm1ng 15 fun'

22.Positive Count / Negative Sum
Create a function that takes a list of positive and negative numbers. Return a list where the first element is the count of positive numbers and the second element is the sum of negative numbers.

Examples
sum_neg([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, -11, -12, -13, -14, -15]) ➞ [10, -65]
#There are a total of 10 positive numbers.
#The sum of all negative numbers equals -65.

sum_neg([92, 6, 73, -77, 81, -90, 99, 8, -85, 34]) ➞ [7, -252]

sum_neg([91, -4, 80, -73, -28]) ➞ [2, -105]

sum_neg([]) ➞ []
Notes
If given an empty list, return an empty list: []
0 is not positive.

In [120]:
def sum_neg(numbers):
    positive_count=sum_negative=0
    
    for num in numbers:
        if num>0:
            positive_count+=1
        elif num<0:
            sum_negative+=num
    return [positive_count,sum_negative]

In [121]:
sum_neg([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, -11, -12, -13, -14, -15])

[10, -65]

In [122]:
sum_neg([92, 6, 73, -77, 81, -90, 99, 8, -85, 34])

[7, -252]

23.Switcharoo
Create a function that takes a string and returns a new string with its first and last characters swapped, except under three conditions:

If the length of the string is less than two, return "Incompatible.".
If the argument is not a string, return "Incompatible.".
If the first and last characters are the same, return "Two's a pair.".
Examples
flip_end_chars("Cat, dog, and mouse.") ➞ ".at, dog, and mouseC"

flip_end_chars("ada") ➞ "Two's a pair."

flip_end_chars("Ada") ➞ "adA"

flip_end_chars("z") ➞ "Incompatible."

flip_end_chars([1, 2, 3]) ➞ "Incompatible."
Notes
Tests are case sensitive (e.g. "A" and "a" are not the same character).

In [124]:
def swap_first_last(string):
    if not isinstance(string,str):
        return "incompatible"
    elif len(string)<2:
        return "incompatible"
    elif string[0]==string[-1]:
        return "Two's a pair"
    else:
        return string[-1]+ string[1:-1]+string[0]

In [125]:
swap_first_last("Cat, dog, and mouse.")

'.at, dog, and mouseC'

In [126]:
swap_first_last("ada")

"Two's a pair"

24.Error Messages
Create a function that takes a number as an argument and returns the appropriate error message. You should do this without using the switch or if statements.

The input error will be 1 to 5:

1 >> "Check the fan: e1"
2 >> "Emergency stop: e2"
3 >> "Pump Error: e3"
4 >> "c: e4"
5 >> "Temperature Sensor Error: e5"
For any other value, return 101 (you can use an if statement here).

Examples
error(1) ➞ "Check the fan: e1"

error(2) ➞ "Emergency stop: e2"

error(3) ➞ "Pump Error: e3"
Notes
Do this without using the switch or if statements.

In [137]:
def error(error_number):
    error_messages={1:"check the fan:e1",2:"emergency stop:e2",3:"pump error:e3",4:"c:e4",5:"temperature sensor error: e5"}
    return error_messages.get(error_number,101)

In [138]:
error(1)

'check the fan:e1'

In [139]:
error(2)

'emergency stop:e2'

In [140]:
error(6)

101

25.Balancing Scales
Given a list with an odd number of elements, return whether the scale will tip "left" or "right" based on the sum of the numbers. The scale will tip on the direction of the largest total. If both sides are equal, return "balanced".

Examples
scale_tip([0, 0, "I", 1, 1]) ➞ "right"
#0 < 2 so it will tip right

scale_tip([1, 2, 3, "I", 4, 0, 0]) ➞ "left"
#6 > 4 so it will tip left

scale_tip([5, 5, 5, 0, "I", 10, 2, 2, 1]) ➞ "balanced"
#15 = 15 so it will stay balanced
Notes
The middle element will always be "I" so you can just ignore it.
Assume the numbers all represent the same unit.
Both sides will have the same number of elements.
There are no such things as negative weights in both real life and the tests!

In [141]:
def scale_tip(lst):
    left_sum=sum(lst[:len(lst)//2])
    right_sum=sum(lst[len(lst)//2+1:])
    
    if left_sum>right_sum:
        return "left"
    elif left_sum<right_sum:
        return "right"
    else:
        return "balaned"

In [142]:
scale_tip([0, 0, "I", 1, 1])

'right'

In [143]:
scale_tip([1, 2, 3, "I", 4, 0, 0])

'left'

In [144]:
scale_tip([5, 5, 5, 0, "I", 10, 2, 2, 1])

'balaned'

26.Emotify the Sentence
Create a function that changes specific words into emoticons. Given a sentence as a string, replace the words smile, grin, sad and mad with their corresponding emoticons.

word	emoticon
smile	:D
grin	:)
sad	:(
mad	:P
Examples
emotify("Make me smile") ➞ "Make me :D"

emotify("Make me grin") ➞ "Make me :)"

emotify("Make me sad") ➞ "Make me :("
Notes
The sentence always starts with "Make me".
Try to solve this without using conditional statements like if/else.

In [152]:
def replace_emoticons(sentence):
    emoticon_dict = {'smile': ':D','grin': ':)','sad': ':(','mad': ":P"}
    words=sentence.split()
    replaced_words = [emoticon_dict.get(word, word)for word in words]
    replaced_sentence =" ".join(replaced_words)

    return replaced_sentence

In [154]:
replace_emoticons("make me smile")

'make me :D'

27.Days in a Month
Create a function that takes the month and year (as integers) and returns the number of days in that month.

Examples
day_amount(2, 2018) ➞ 28

day_amount(4, 654) ➞ 30

day_amount(2, 200) ➞ 28

day_amount(2, 1000) ➞ 28
Notes
Don't forget about leap years!

In [160]:
def get_days_in_month(month, year):
    days_in_month= {1:31,2:28,3:31,4:30,5:31,6:30,7:31,8:31,9:30,10:31,11:30,12:31}
    
    if month==2 and is_leap_year(year):
        return 29
    return days_in_month.get(month, None)

def is_leap_year(year):
    if year % 4==0:
        if year% 100==0:
            if year % 400==0:
                return True
            else:
                return False
        else:
            return True
    else:
        return False

In [161]:
get_days_in_month(2,2018)

28

In [163]:
get_days_in_month(3,1000)

31

28.Changing Mixed Types
Create a function that changes all the elements in a list as follows:

Add 1 to all even integers, nothing to odd integers.
Concatenates "!" to all strings and make the first letter of the word a capital letter.
Changes all boolean values to its opposite.
Examples
change_types(["a", 12, True]) ➞ ["A!", 13, False]

change_types([13, "13", "12", "twelve"]) ➞ [13, "13!", "12!", "Twelve!"]

change_types([False, "False", "true"]) ➞ [True, "False!", "True!"]
Notes
There won't be any float values.
You won't get strings with both numbers and letters in them.
Although the task may be easy, try keeping your code as clean and as readable as possible!

In [170]:
def modify_list(lst):
    modified_lst = []
    for element in lst:
        if isinstance (element, int):
            modified_lst.append(element + 1 if element % 2 ==0 else element)
        elif isinstance (element, str):
            modified_lst.append(element.capitalize() + "!")
                                
        elif isinstance (element, bool):
            modified-lst.append(not element)
        else:
            modified_lst.append(element)
    return modified_lst

In [171]:
modify_list(["a", 12, True])

['A!', 13, True]

In [172]:
modify_list([13, "13", "12", "twelve"])

[13, '13!', '12!', 'Twelve!']

29.Minimal VIII: This and That
Check the principles of minimalist code in the intro to the first challenge.

In the Code tab you will find a code that is missing a single character in order to pass the tests. However, your goal is to submit a function as minimalist as possible. Use the tips in the tips section below.

Write a function that returns the third character of the third string in a given list of strings. Return False if it can't be found.

Tips
The operator and can be used to assign or return the first falsy value among two or more elements. If no falsy value is found, the last element will be returned.

For example, the code:

def all_of_these(a, b, c):
    return a if not a else b if not b else c
Can be simplified to:

def all_of_these(a, b, c):
    return a and b and c
Bonus
Once a falsy value is found, the rest of the elements will not be checked. For example, if we wanted to access the first element of a list, but the list happened to be empty, we would get an error. We can use and to work around this issue:

lst1 = [1, 2, 3]
lst2 = []

lst1 and lst1[0] ➞ 1
lst2 and lst2[0] ➞ []
Notes
This is an open series: there isn't a definite list of features for the challenges. Please, do not hesitate to leave your suggestions in the Comments.
Readability is indeed a subjective concept. Let's discuss it! Feel free to leave your opinion in the Comments.
You can find all the exercises in this series over here.

In [173]:
def get_third_char(strings):
    return strings[2][2] if len(strings) >= 3 and len(strings[2]) >= 3 else False

In [176]:
get_third_char(['eda', 'bit', 'edabit', 'bit', 'eda'])

'a'

30.String Pairs
Create a function that takes a string s and returns a list of two-paired characters. If the string has an odd number of characters, add an asterisk * in the final pair.

See the below examples for a better understanding:

Examples
string_pairs("mubashir") ➞ ["mu", "ba", "sh", "ir"]

string_pairs("edabit") ➞ ["ed", "ab", "it"]

string_pairs("airforces") ➞ ["ai", "rf", "or", "ce", "s*"]
Notes
Return [] if the given string is empty.

In [177]:
def pair_characters(string):
    pairs = [string[i:i+2] for i in range(0, len(string), 2)]
    if len(string) % 2 != 0:
        pairs[-1] += "*"
    return pairs
print(pair_characters("abcdefgh"))  
print(pair_characters("abcde"))

['ab', 'cd', 'ef', 'gh']
['ab', 'cd', 'e*']

31.Malthusian Catastrophe
A man named Thomas Malthus described what is now called a Malthusian Catastrophe. According to him, food production grows by a fixed amount, but population grows by a percentage. So, the food supply would soon be insufficient for the population.

Your job is to find out when that will occur. For this challenge, assume 1 population needs 1 unit of food production. Food production and population both start at 100. The year starts at 0.

The catastrophe happens when the population is larger than food production.

The function will pass:

food_growth ⁠— an integer ⁠— food production increase per year.
pop_mult ⁠— a floating-point number ⁠— population growth multiplier per year.
Examples
malthusian(4255, 1.41) ➞ 20
#{ food_prod: 85,200, pop: 96,467.77..., year: 20 }

malthusian(9433, 1.09) ➞ 107
#{ food_prod: 1,009,431, pop: 1,010,730.28..., year: 107 }

malthusian(5879, 1.77) ➞ 12
#{ food_prod: 70,648, pop: 94,553.84..., year: 12 }
Notes
Return the year that the overtake happens, not the next year.
Make sure you don't make the mistake of adding a year, then calculating the changes to food and population. That way, you miss year 0.
If the population and food production are equal, that is not a catastrophe.

In [1]:
def malthusian_catastrophe(food_growth,pop_mult):
    population=100
    food_production=100
    year=0
    
    while population<=food_production:
        food_production+=food_growth
        population*=pop_mult
        year+=1
        
    return year

In [3]:
malthusian_catastrophe(4255, 1.41)

20

In [7]:
malthusian_catastrophe(5879, 1.77)

12

32.Special Lists
A list is special if every even index contains an even number and every odd index contains an odd number. Create a function that returns True if an array is special, and False otherwise.

Examples
is_special_array([2, 7, 4, 9, 6, 1, 6, 3]) ➞ True
#Even indices: [2, 4, 6, 6]; Odd indices: [7, 9, 1, 3]

is_special_array([2, 7, 9, 1, 6, 1, 6, 3]) ➞ False
#Index 2 has an odd number 9.

is_special_array([2, 7, 8, 8, 6, 1, 6, 3]) ➞ False
#Index 3 has an even number 8.
Notes
N/A

In [9]:
def is_special_array(lst):
    for i in range(len(lst)):
        if i %2==0 and lst[i]%2!=0:
            return False
        if i%2!=0 and lst[i]%2==0:
            return False
    return True

In [10]:
is_special_array([2, 7, 4, 9, 6, 1, 6, 3])

True

In [11]:
is_special_array([2, 7, 9, 1, 6, 1, 6, 3])

False

33.Minimal III: You're a Boolean Now
Check the principles of minimalist code in the intro to the first challenge.

In the Code tab you will find code that is missing a single character in order to pass the tests. However, your goal is to submit a function that is as minimalist as possible. Use the tips in the tips section below.

Write a function that returns True if the given positive integer is a prime number and False if it's not.

Tips
Everything you write after if, not, while or around and, or, is, in is interpreted as a boolean.

A function that prints a countdown from the absolute value of x and also prints "hey" if the number is a multiple of 3 and contains the digit "3", could be written as:

def countdown(x):
    if x < 0:
        x = x * -1
    while x > 0:
        if x % 3 == 0:
            if "3" in str(x):
                print(x)
                print("hey")
        else:
            print(x)
        x = x - 1
This can be simplified to:

def countdown(x):
    x = abs(x)
    while x:
        print(x)
        if not x % 3 and "3" in str(x):
            print("hey")
        x -= 1
abs() gets the absolute value of a number.
while will interpret x as a boolean, exiting the loop after reaching zero.
print(x) needs to be called whether x is a "hey number" or not. This can be done outside of any if statement, instead of in both.
Both conditions x % 3 == 0 and "3" in str(x) need to be True, so they can be joined with an and.
Bonus
A more Pythonistic approach:

def countdown(x):
    for i in range(abs(x), -1, -1):
        print(x)
        if not x % 3 and "3" in str(x):
            print("hey")
Notes
This is an open series: there isn't a definite list of features for the challenges. Please, do not hesitate to leave your suggestions in the Comment tab.
Readability is indeed a subjective concept. Let's discuss it! Feel free to leave your opinion in the Comments tab.
You can find all the exercises in this series over here.

In [12]:
def is_prime(n):
    return n > 1 and all(n % i != 0 for i in range(2, int(n ** 0.5) + 1))
print(is_prime(17)) 
print(is_prime(25))  
print(is_prime(1))

True
False
False